@{   
    ViewData["Title"] = "404";
}

@{
    Layout = null; // Carrega apenas o estilo limpo da sua tela
}

<link rel="stylesheet" href="~/css/PageNotFound.css" asp-append-version="true" />

<div class="not-found-container">
    <div class="not-found-content">
        <h1 class="not-found-title">404</h1>
        <h2 class="not-found-subtitle">
            Not Found
        </h2>
        
        <p class="not-found-p">O recurso solicitado não foi encontrado neste servidor!</p>
    </div>
</div>